body {
  margin: 0px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
}
.header-list {
  margin-right: 20px;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
.logo {
  height: 3rem;
  margin-left: 20px;
  padding: 10px 0px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px;
}

.main-img {
  height: 250px;
}
.img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 90px 120px 90px;
}

.box-content {
  display: flex;
  gap: 2rem;
}

.img-container {
  border: 5px solid black;
  border-radius: 10%;
  height: 200px;
  width: 200px;
}

.div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 150px;
  width: 150px; */
}

.Quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px;
  background-color: #e5e7eb;
}

section > p {
  /* width: 250px; */
  font-size: 2.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: white;
}

section:nth-of-type(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  width: 800px;
  padding: 20px 80px;
  border-radius: 8px;
}

button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 8px;
  background-color: #3882f6;
  color: white;
}
